.بطاقة {
  background: blue;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}
.بطاقة:hover {
  background: green;
}
#عنوان_رئيسي {
  background: gold;
  text-align: center;
  padding: 20px;
}
.فقرة_مميزة {
  font-size: 20px;
  color: purple;
  text-align: center;
}
